.home-content {
    padding-top: 120px;
    margin-left: 120px;
}

.text-title{
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 0.02em;
    color:#062847;
    padding-bottom: 25px;
}


.text-subtitle{
    font-size: 20px;
    line-height: 36px;
    color: #5A6774;
    padding-bottom: 50px;
}