.home-content {
    padding-top: 120px;
    margin-left: 120px;
}

.text-title{
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 0.02em;
    color:#062847;
    padding-bottom: 25px;
    font-weight: 700;
    font-style: normal;
}

.text-subtitle{
    font-size: 20px;
    line-height: 36px;
    padding-bottom: 50px;
    font-style: normal;
    font-weight: 400;
    color: #5A6774;
}